<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cvsu.clearance.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CVSU Clearance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Registration"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AdminMainActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar"/>

        <activity
            android:name=".StaffMainActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar"/>
        <activity
            android:name=".StudentMainActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar"/>
        <activity
            android:name=".AddClearanceFormActivity"
            android:exported="true" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name=".StaffProfile"
            android:exported="true" />
        <activity
            android:name=".LoginScreen"
            android:exported="true" />
        <activity
            android:name=".RegisterScreenStudent"
            android:exported="true" />
        <activity
            android:name=".RegisterScreenStaff"
            android:exported="true" />
        <activity
            android:name=".RegisterScreenAdmin"
            android:exported="true" />
        <activity
            android:name=".AdminProfile"
            android:exported="true" />
        <activity
            android:name=".ActivityVerifyStaff"
            android:exported="true" />
        <activity
            android:name=".FrontScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>